*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* .container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
 
}
.item{
  background: lightblue;
  border : 2px solid blue;
  padding: 1rem;
  margin : 0.5rem;
  flex: 1 1 1px;
  text-align: center;
 
} */

.main-container{
    max-width: 900px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading-container{
    text-align: center;
    margin-bottom: 20px;
}

.image-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.title-container p{
    width: 550px;
    text-align: justify;
}

.content-container{
    display: flex;
    gap: 20px;
    text-align: justify;
    line-height: 1.8;
}

hr{
    margin: 20px 0;
    border: none;
    border-top: 5px solid #ccc;
}

